<div class="result">
	<div class="salesforce">
		<h2>Salesforce</h2>
		{{#if salesforce.ioTKey}}
			<div class="visual"><img src="/img/green.png" /></div>
		{{else}} {{#ifPlay salesforce.ioTKey}}
					<div class="visual"><img src="/img/play.png" /></div>
				{{else}}
					<div class="visual"><img src="/img/red.png" /></div>
				{{/ifPlay}}
		{{/if}}
		<a class="show">Show details</a>
		<div class="details">
		<br /><br />
			<p id="lol">serialNumber = {{salesforce.serialNumber}}</p>
			<p>ioTKey = {{salesforce.ioTKey}}</p>
			<p>status = {{salesforce.status}}</p>
		</div>
	</div>
	<div class="documentdb">
		<h2>Documentdb</h2>
		{{#if ddb.ioTKey}}
			<div class="visual"><img src="/img/green.png" /></div>
		{{else}} {{#ifPlay ddb.ioTKey}}
					<div class="visual"><img src="/img/play.png" /></div>
				{{else}}
					<div class="visual"><img src="/img/red.png" /></div>
				{{/ifPlay}}
		{{/if}}
		<a class="show">Show details</a>
		<div class="details">
		<br /><br />
			<p>serialNumber = {{ddb.serialNumber}}</p>
			<p>ioTKey = {{ddb.ioTKey}}</p>
			<p>status = {{ddb.status}}</p>
		</div>
	</div>
</div>
<div class="center"><img id="loader" src="/img/dashinfinity.gif" /></div>
<form id="job" method="get">
	<input type="submit" value="Run the job" />
</form>

<script type="text/javascript">
	$(document).on("click", function(e){
		if($(e.target).is(".show")){
			$(".details").show();
		}
		else {
		$(".details").hide();
		}
	});
</script>

<script>
$('#job').click(function(){
	$('.center').show();
	$('#job').hide();
		$.ajax({
			url: '/job',
			type: 'GET',
			success:function(data){
			$('#lol').append(data.serialNumber);
			$('.center').hide();
			$('#job').show();
		},
			error:function(){
			$('.center').hide();
			$('#job').show();
		}
	});
});
</script>
